<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546882354211-76el8d6tustdpos05n7vo34oi7mj2g5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546882354211-76el8d6tustdpos05n7vo34oi7mj2g5q</string>
	<key>API_KEY</key>
	<string>AIzaSyCLEp0pfD9Zsk3RMv6qfPI_8xbOIzyHMT8</string>
	<key>GCM_SENDER_ID</key>
	<string>546882354211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamza.eios-app</string>
	<key>PROJECT_ID</key>
	<string>covidapp-56d1a</string>
	<key>STORAGE_BUCKET</key>
	<string>covidapp-56d1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:546882354211:ios:b52d3a2f63139ed15d4596</string>
	<key>DATABASE_URL</key>
	<string>https://covidapp-56d1a.firebaseio.com</string>
</dict>
</plist>
